{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title | emojify }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ " docs/prologue/introduction/" | absURL }}" role="button">Get
        started</a>
      <p class="meta">Creative Commons Licensed.</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <h2 class="justify-content-center text-center">Why Repro.Rocks?</h2>
  <p class="justify-content-center text-center">
    If you work in STEM in the 21st century then you're likely to have either first or second hand experience of at
    least one of the following:
  </p>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <p>{{emojify ":grimacing:"}} Painstakingly translating complex mathematical notation in a scientific manuscript into a computer program
        </p>
      </div>
      <div class="col-lg-5">
        <p>{{emojify ":tired_face:"}} Spending hours trying to get code that was state-of-the-art 18 months ago to run because the supporting maths
          libraries have moved on or been made obsolete.</p>
      </div>
      <div class="col-lg-5">
        <p>{{emojify ":scream:"}} Scouring the web for the dataset that the authors used for their experiment
           because the home page they linked in their paper was taken down when they moved institutions.</p>
      </div>
    </div>
  </div>
  <h2 class="justify-content-center text-center">How Repro.Rocks can help you.</h2>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">{{emojify ":construction_worker:"}} Make your work reproducible</h2>
        <p>If you are an academic or researcher publishing open source Machine Learning, Simulation or other compute
          code, find out how to make your work easily reproducible with our best practice guides.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{emojify ":mag:"}} Find and reproduce other peoples' work</h2>
        <p>We curate a list of reproducible code and datasets, as well as community contributed 'polyfills' that make work
          even easier to reproduce.</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">{{emojify ":raised_hands:"}} Contribute reproducible works</h2>
        <p>Submit your own work or reproductions and modifications of other peoples' work for use by the wider
          community, contribute to best practice guidelines, answer questions in our discussion forum.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}